<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobaBrain Journals</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
    <link rel="shortcut icon" href="globabrainlogo.jpg" type="image/x-icon">
</head>
<body>
    <nav>
        <img class="logo" src="globabrainlogo.jpg" alt="img is missing">
        <p class="navitem"><a class="navlink" href="index.html">Home</a></li></p>
        <p class="navitem"><a class="navlink" href="about.html">About</a></p>
        <p class="navitem"><a class="navlink" href="ourservices.html">Services</a></p>
        <p class="navitem"><a class="navlink" href="features.html">Features</a></p>
        <p class="navitem"><a class="navlink" href="journals.html">Journals</a></p>
        <p class="navitem"><a class="navlink" href="publshdjournals.html">Published Journals</a></p>
        <p class="navitem"><a class="navlink" href="contactus.html">Contact</a></p>
        <p id="signup" class="navitem"><a id="sign" class="navlink" href="signup.html">Sign Up</a></p>
        <p id="login" class="navitem"><a id="log" class="navlink" href="login.html">Login</a></p>
    </nav>
    <img id="dropdown_togle" onclick="openMenu()" src="togle__menu_icon.png" alt="">
    <img id="dropdown_togleX" onclick="closeMenu()" src="togle_close_icon.png" alt="">
    <ul id="dropdown_content">
        <li class="list"><a class="dropdown_link" href="index.html">Home</a></li>
        <li class="list"><a class="dropdown_link" href="about.html">About</a></li>
        <li class="list"><a class="dropdown_link" href="ourservices.html">Services</a></li>
        <li class="list"><a class="dropdown_link" href="features.html">Features</a></li>
        <li class="list"><a class="dropdown_link" href="journals.html">Journals</a></li>
        <li class="list"><a class="dropdown_link" href="publshdjournals.html">Published Journals</a></li>
        <li class="list"><a class="dropdown_link" href="contactus.html">Contact</a></li>
        <li id="sign_up" class="list"><a class="dropdown_link" href="signup.html">Sign Up</a></li>
        <li id="log_in" class="list"><a class="dropdown_link" href="login.html">Login</a></li>
    </ul>
    <section class="journals">
        <h1 class="headjrns">Journals</h1>
        <h1 class="headjrn">1. American Journal of Applied and Industrial Science and Engineering</h1>
        <p class="indents">American Journal of Applied and Industrial Science and Engineering is an open access, peer reviewed international
        monthly journal dedicated to Research in the latest advancement in applied science and engineering. You can also submit
         abstracts, patents, dissertations/thesis, and textbooks.
        Our journal publish a special issue every year. This issue typically deals with important research topics and is edited
        by a recognized experts with outstanding track records in the respective fields.
        The Journal and Editorial Board endeavor to attract and publish articles from a variety of disciplines and educational
        settings with the goal of promoting excellence in the following disciplines:</p>
        <ul>
            <li class="jrnlist"> Physics, Mechanical, Atomic and Nuclear Engineering</li>
            <li class="jrnlist"> Chemistry, Chemical, petroleum and petrochemical Engineering, Geology, Geodetic Engineering, and Energy</li>
            <li class="jrnlist"> Pure and Applied Mathematics, Statistics and General Engineering</li>
            <li class="jrnlist"> Biology, Biochemistry ,Molecular Biology and Biomedical Engineering</li>
            <li class="jrnlist"> Pharmacy and Pharmaceutical Research</li>
            <li class="jrnlist"> Medical and Medicinal Research</li>
            <li class="jrnlist"> Civil Engineering, Architecture, General constructions, and Building Technology</li>
            <li class="jrnlist"> Agriculture and veterinary Research</li>
            <li class="jrnlist"> Environmental Science, Health Care and Sanitation</li>
        </ul>
        <p class="indents">The Journal is excited to revive your work by providing services whose sole purpose is to unify and empower the scientific and technological community.
        Please see our Guide for Authors for information on article submission or send an email to <a class="mail" href="mailto:admin@globabrain.com">admin@globabrain.com</a> with the specific discipline on the subject line.</p>
        <br>
        <h1 class="headjrn">2. International Journal of Economics, Accounting and Business methods(IJEABM)</h1>
        <p class="indents">IJEABM publishes research work with Academic, Corporate and Financial orientation. The Journal publishes high quality
        research papers in all fields of economics, accounting, finance, and business methods and closely related fields.
        The Journal encourages research work to be published in aspects of both theoretical and applied aspects of the
        aforementioned disciplines with emphasis on topics in corporate finance, general business methods, accounting,
        marketing, financial markets and institutions, and investments. Research in insurance, monetary theory and policy,
        estate management, and sociology is publishable. You may submit abstracts, patents, dissertations/thesis, and textbooks.
        Our journals publish a special issue every year. This issue typically deals with important research topics and is edited
        by a recognized experts with outstanding track records in the respective fields.
        The Journal and Editorial Board endeavor to attract and publish articles, research thesis and dissertations from a
        variety of disciplines and educational settings with the goal of promoting excellence in the following disciplines:</p>
        <ul>
            <li class="jrnlist" >Economics</li>
            <li class="jrnlist"> Applied/Agric Economics</li>
            <li class="jrnlist"> Finance</li>
            <li class="jrnlist"> Accounting</li>
            <li class="jrnlist"> Management</li>
            <li class="jrnlist"> Transportation and Logistics</li>
            <li class="jrnlist"> Insurance</li>
            <li class="jrnlist"> General Business methods</li>
            <li class="jrnlist"> Social science</li>
            <li class="jrnlist"> History</li>
            <li class="jrnlist"> Education, Arts, Literature and Linguistics</li>
        </ul>
        <p>Please see our Guide for Authors for information on article submission or send an email <a class="mail" href="mailto:admin@globabrain.com">admin@globabrain.com</a>
        with the specific discipline on the subject line.</p>
        <br>
        <a class="gopublishjrn" href="publshdjournals.html">Check out the list of published journals</a>
    </section>
    <footer>
        <div class="socialicon">
            <span class="tooltip"><a class="socfb" href=""><img class="social" src="logo_fb.jpg" alt=""></a>
                <span class="tooltip-content"><b>facebook</b></span>
            </span>
        </div>
        <div class="socialicon">
            <span class="tooltiptwo"><a href="" class="socig"><img class="social" src="logo_instagram.jpg" alt=""></a>
                <span class="tooltip-contentwo"><b>Instagram</b></span>
            </span>
        </div>
        <div class="socialicon">
            <span class="tooltipthree"><a href="" class="soctw"><img class="social" src="logo_twitter.jpg" alt=""></a>
                <span class="tooltip-contenthree"><b>twitter</b></span>
            </span>
        </div> 
        <div class="socialicon">
            <span class="tooltipfour"><a href="" class="socytb"><img class="social" src="youtube_logo.png" alt=""></a>
                <span class="tooltip-contentfour"><b>YouTube</b></span>
            </span>
        </div> 
        <div>
            <a id="link" class="footerlnk" href="about.html">About Us</a>
            <a id="linktwo" class="footerlnk" href="contactus.html">Contact Us</a>
            <a id="linkthree" class="footerlnk" href="">FAQs</a>
        </div>    
            <div>
            <span id="copyright">©2023 Globabrain. All rights Reserved</span>
        </div>
    </footer>
</body>
</html>