<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobaBrain Services</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
    <link rel="shortcut icon" href="globabrainlogo.jpg" type="image/x-icon">
</head>
<body>
    <nav>
        <img class="logo" src="globabrainlogo.jpg" alt="img is missing">
        <p class="navitem"><a class="navlink" href="index.html">Home</a></li></p>
        <p class="navitem"><a class="navlink" href="about.html">About</a></p>
        <p class="navitem"><a class="navlink" href="ourservices.html">Services</a></p>
        <p class="navitem"><a class="navlink" href="features.html">Features</a></p>
        <p class="navitem"><a class="navlink" href="journals.html">Journals</a></p>
        <p class="navitem"><a class="navlink" href="publshdjournals.html">Published Journals</a></p>
        <p class="navitem"><a class="navlink" href="contactus.html">Contact</a></p>
        <p id="signup" class="navitem"><a id="sign" class="navlink" href="signup.html">Sign Up</a></p>
        <p id="login" class="navitem"><a id="log" class="navlink" href="login.html">Login</a></p>
    </nav>
    <img id="dropdown_togle" onclick="openMenu()" src="togle__menu_icon.png" alt="">
    <img id="dropdown_togleX" onclick="closeMenu()" src="togle_close_icon.png" alt="">
    <ul id="dropdown_content">
        <li class="list"><a class="dropdown_link" href="index.html">Home</a></li>
        <li class="list"><a class="dropdown_link" href="about.html">About</a></li>
        <li class="list"><a class="dropdown_link" href="ourservices.html">Services</a></li>
        <li class="list"><a class="dropdown_link" href="features.html">Features</a></li>
        <li class="list"><a class="dropdown_link" href="journals.html">Journals</a></li>
        <li class="list"><a class="dropdown_link" href="publshdjournals.html">Published Journals</a></li>
        <li class="list"><a class="dropdown_link" href="contactus.html">Contact</a></li>
        <li id="sign_up" class="list"><a class="dropdown_link" href="signup.html">Sign Up</a></li>
        <li id="log_in" class="list"><a class="dropdown_link" href="login.html">Login</a></li>
    </ul>
    <section class="more">
        <div class="moreclass">
            <div class="morecla">
                <h2>Journal Publication Admin Approval <br> Sercvice</h2>
                <img class="moreimg" src="approva_workflow1.jfif" alt="">
            </div> 
            <div class="morecla">
               <h1>Description</h1> 
               <p class="description">Our Admin Approval service provides organizations with a streamlined process for obtaining the necessary approvals from administrators. With this service, businesses can ensure that all decisions and actions are in line with company policies and procedures. By implementing a formal approval process, organizations can mitigate the risk of unauthorized actions and maintain a high level of accountability within their operations.
               This service offers a user-friendly interface that allows employees to submit requests for approval directly to the designated administrators. Administrators can then review and either approve or deny these requests, providing clear and concise feedback to the employees. The service also offers customizable workflows, allowing organizations to tailor the approval process to their specific needs and hierarchies. With our Admin Approval service, businesses can ensure that all decisions are made in a formal and structured manner, minimizing the potential for errors or oversights.</p>
                <a class="getstart" href="signup.html">Get Started</a>
            </div>
        </div>
        </section>
    <section class="happycustomers">
        <div class="headiv">
            <h1 class="head">Happy Customers</h1>
            <p class="descrip">Our meticulous approval process ensures that only the highest quality journals are published, earning the trust and admiration of our valued customers. </p>
            <a class="allservic" href="">View All Testimonies</a>
        </div>
        <div class="happydiv">
            <img id="happyimg" src="hd_happy_customer.jpg" alt="this image is missing">
        </div>
    </section>
    <section class="newsletter">
        <form action="">
            <h1 id="hsubs">Subscribe to Newsletter</h1>
            <p class="subs">Enter your email address to register to our newsletter subscription!</p>
            <input class="input" type="email" placeholder="Email address" required> <br>
            <button class="sendbtn">Send</button>
        </form>
    </section>
    <footer>
        <div class="socialicon">
            <span class="tooltip"><a class="socfb" href=""><img class="social" src="logo_fb.jpg" alt=""></a>
                <span class="tooltip-content"><b>facebook</b></span>
            </span>
        </div>
        <div class="socialicon">
            <span class="tooltiptwo"><a href="" class="socig"><img class="social" src="logo_instagram.jpg" alt=""></a>
                <span class="tooltip-contentwo"><b>Instagram</b></span>
            </span>
        </div>
        <div class="socialicon">
            <span class="tooltipthree"><a href="" class="soctw"><img class="social" src="logo_twitter.jpg" alt=""></a>
                <span class="tooltip-contenthree"><b>twitter</b></span>
            </span>
        </div> 
        <div class="socialicon">
            <span class="tooltipfour"><a href="" class="socytb"><img class="social" src="youtube_logo.png" alt=""></a>
                <span class="tooltip-contentfour"><b>YouTube</b></span>
            </span>
        </div> 
        <div>
            <a id="link" class="footerlnk" href="about.html">About Us</a>
            <a id="linktwo" class="footerlnk" href="contactus.html">Contact Us</a>
            <a id="linkthree" class="footerlnk" href="">FAQs</a>
        </div>    
            <div>
            <span id="copyright">©2023 Globabrain. All rights Reserved</span>
        </div>
    </footer>
</body>
</html>